{
  "System": {
    "WindowWidth": 1600,
    "WindowHeight": 900,
    "WindowTitle": "Gamma Engine | JSON",
    "Windowed": true,
    "VSync": false
  },
  "Logging": {
    "Render": false,
    "Texture": false,
    "Terrain": false,
    "Physics": false,
    "System": true
  },
  "Graphics": {
    "RenderDistance": 4000.0,
    "FOV": 60.0,
    "NearZ": 0.1,
    "FarZ": 10000.0,
    "AnisotropyLevel": 16,
    "MipLODBias": -0.5,
    "LOD": {
      "Enabled": true,
      "Distance1": 50.0,
      "Distance2": 100.0,
      "Distance3": 1200.0
    }
  },
  "Optimization": {
    "EnableOcclusionCulling": false,
    "OcclusionAlgorithm": "HZB",
    "UseStaticBatching": true
  },
  "Input": {
    "MouseSensitivity": 0.003,
    "InvertY": false,
    "MoveForward": "W",
    "MoveBackward": "S",
    "MoveLeft": "A",
    "MoveRight": "D",
    "FlyUp": "E",
    "FlyDown": "Q",
    "Sprint": "VK_SHIFT",
    "ToggleCulling": "VK_F1",
    "ToggleDebugCam": "VK_F2",
    "ToggleLODs": "VK_F3",
    "ToggleHZB": "VK_F4",
    "ToggleWireframe": "VK_TAB",
    "RenderDistUp": "X",
    "RenderDistDown": "Z"
  }
}